<form action="/parcels" method="post">
  <h1>Tell us the dimensions of your parcel</h1>
  <label for="height">Add the height of your package</label>
  <input id="height" name="height" type="text">
  <label for="length">Add the length of your package</label>
  <input id="length" name="length" type="text">
  <label for="width">Add the width of your package</label>
  <input id="width" name="width" type="text">
  <button type="submit">Submit</button>
</form>